@import 'utils.scss';
@import 'reset.scss';
@import 'responsive.scss';

// 메인 화면, 전체 스타일

* {
  font-family: 'Humanbumsuk';
  :focus {
    outline: 0;
  }
}
header {
  border-bottom: 2px solid black;
  position: fixed;
  background-color: white;
  z-index: 1;
  margin: 0 auto;
  width: 100%;
  .head-wraper {
    padding: 20px;
    height: 60px;
    display: flex;
    position: relative;
    .form-wrapper {
      input {
        border: none;
        border-bottom: 1px solid black;
        border-right: 1px solid black;
        font-size: 20px;
        &:focus {
          box-shadow: 2px 2px 0 0 gray;
          transition: 0.5s all;
        }
      }
      button {
        border: none;
        background-color: white;
        cursor: pointer;
        font-size: 20px;
        border-bottom: 1px solid black;
        border-right: 1px solid black;
        &:hover {
          background-color: black;
          color: white;
        }
      }
    }
    .logo-wrapper {
      a {
        display: block;
        text-decoration: none;
        color: black;
        font-family: 'MaplestoryOTFBold';
        font-size: 30px;
        padding: 0px 20px;
      }
    }

    .nav-bar-wrapper .nav-ul {
      position: absolute;
      bottom: 0;
      right: 0;
      display: flex;
      li {
        border-right: 2px solid black;
        a {
          display: block;
          padding: 10px;
          font-family: 'Humanbumsuk';
          text-decoration: none;
          color: rgb(55, 54, 54);
          &:hover {
            color: orange;
          }
        }
        strong {
          padding-left: 10px;
          font-size: 20px;
          color: red;
        }
      }
    }
  }
}

main {
}

.list-wrap {
  flex-wrap: wrap;
}

form {
}
.dragging {
  opacity: 0.3;
  border: 2px solid blue;
}

.list-wrap {
  padding-top: 120px;
  margin: 0px 20px;
  .todo-ul {
    .todo-li {
      color: black;
      .title-wrap.done {
        input {
          color: green;
        }
      }
      input {
        padding-right: 10px;
        font-size: 15px;
        border: none;
        border-bottom: 1px solid black;
        &:disabled {
          border: none;
          background-color: white;
        }
      }
      .tool-wrap {
        .done-button {
          font-size: 20px;
          border: 2px solid gray;
          border-radius: 5px;
          background-color: white;
          cursor: pointer;
          &:hover {
            border-color: orange;
          }
        }
        .delete-item {
          border: none;
          background-color: white;
          font-size: 20px;
          cursor: pointer;
          &:hover {
            color: orange;
          }
        }
        .edit-button {
          border: none;
          background-color: white;
          font-family: 'MaplestoryOTFBold';
          margin: 0px 10px;
          min-width: 70px;
          cursor: pointer;
          &:hover {
            color: orange;
          }
        }
        .done {
          border: 2px solid green;
        }
      }
      border: 1px solid black;
      cursor: move;
      padding: 30px;
      margin: 30px;
      display: flex;
      justify-content: space-between;
      .tool-wrap {
        display: flex;
      }
    }
  }
  .done-list-wrapper {
    margin: 30px;
    border-bottom: 1px solid gray;
  }

  .not-done-list-wrapper {
    margin: 30px;
    border-bottom: 1px solid gray;
  }
}

@include mobile {
  header {
    .head-wraper {
      .form-wrapper {
        input {
          font-size: 15px;
        }
        button {
          font-size: 15px;
        }
      }
      .logo-wrapper {
        a {
          font-size: 20px;
          padding: 0px 10px;
        }
      }
    }
  }
  main {
    .todo-li {
      p {
        padding-right: 10px;
      }
      padding: 20px;
      margin: 10px;
    }

    .list-wrap {
      .done-list-wrapper {
        margin: 10px;
      }

      .not-done-list-wrapper {
        margin: 10px;
      }
    }
  }
}
