@import 'utils.scss';
@import 'reset.scss';

// 메인 화면, 전체 스타일

* {
  font-family: 'Humanbumsuk';
  :focus {
    outline: 0;
  }
}
header {
  height: 100px;
  position: relative;
  border-bottom: 2px solid black;
  .head-wraper {
    display: flex;
    align-items: center;
    .form-wrapper {
      input {
        border: none;
        border-bottom: 1px solid black;
        border-right: 1px solid black;
        font-size: 20px;
        &:focus {
          box-shadow: 2px 2px 0 0 gray;
          transition: 0.5s all;
        }
      }
      button {
        border: none;
        background-color: white;
        cursor: pointer;
        font-size: 20px;
        border-bottom: 1px solid black;
        border-right: 1px solid black;
        &:hover {
          background-color: black;
          color: white;
        }
      }
    }
    .logo-wrapper {
      a {
        display: block;
        text-decoration: none;
        color: black;
        font-family: 'MaplestoryOTFBold';
        font-size: 30px;
        padding: 20px;
      }
    }

    .nav-bar-wrapper .nav-ul {
      position: absolute;
      bottom: 0;
      right: 0;
      display: flex;
      li {
        border-right: 2px solid black;
        a {
          display: block;
          padding: 10px;
          font-family: 'Humanbumsuk';
          text-decoration: none;
          color: rgb(55, 54, 54);
        }
        strong {
          padding-left: 10px;
          font-size: 20px;
          color: red;
        }
      }
    }
  }
}

main {
}

.list-wrap {
  flex-wrap: wrap;
}

form {
}

.todo-li {
  color: black;
  .done {
    color: red;
  }
  p {
    padding-right: 10px;
  }
  border: 1px solid black;
  cursor: move;
  padding: 30px;
  margin: 30px;
  display: flex;
  justify-content: space-between;
  .tool-wrap {
    display: flex;
  }
}

.dragging {
  opacity: 0.3;
  border: 2px solid blue;
}

.done-list-wrapper {
}

.not-done-list-wrapper {
}
